<p>Dear <%=recipientName%>,</p>
<br/>
<p><em>Thank you</em> for being our customer.</p>
<ul>Your order is:
<!-- <% Object.keys(items).forEach( function(item) { %>

    <li> <%= items[item].product.name %> </li>
     <li value="<%= items[item].qty %>"><%= items[item].qty %></li>

     <li>£<%= parseFloat(items[item].product.price).toFixed(2) %></li>
     <li>£<%= parseFloat(items[item].product.price *  items[item].qty).toFixed(2) %> </li>
     
   <% }) %> -->
</ul>

<p>Regards,<br/><%=senderName%></p>

